@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Helvetica, sans-serif;
}

.bg {
  background: url('../../public/bg.png');
  background-size: cover;
}

.backdrop {
  backdrop-filter: blur(10px);
  background: url('../../public/bg.png');
  background-size: cover;
}

.msg-bg {
  background: #95E443;
  background: linear-gradient(0deg, rgba(149, 228, 67, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

a {
  color: #75b233;
  text-decoration: underline;
}

.ds {
  filter: drop-shadow(1px 1px 0px #000000);
}